@media (max-width: 800px) {
  header {
    padding: 20px;
    flex-wrap: wrap;
  }

  .header-right {
    margin-left: 0;
  }

  main {
    padding: 15px 20px 40px;
  }
}

@media (max-width: 500px) {
  .logo {
    font-size: 32px;
  }

  #search {
    max-width: 100%;
    order: 3;
    flex-basis: 100%;
  }
}
